@page "/checkout"

<div class="receipt_container">

    <div class="receipt_header">
        <h1>Receipt of Sale <span>Tasty Treat</span></h1>
        <h2>Address: Lorem Ipsum, 1234-5 <span>Tel: +1 012 345 67 89</span></h2>
    </div>

    <div class="receipt_body">

        <div class="date_time_con">
            <div class="date">@DateTime.Now.ToString("dd/MMM/yyyy")</div>
            <div class="time">@DateTime.Now.ToString("h:mm:ss tt")</div>
        </div>

        <div class="items">
            <table>

                <thead>
                <th>NO.</th>
                <th>ITEM</th>
                <th>QTY</th>
                <th>AMT</th>
                </thead>

                <tbody>
                @{
                    decimal totalAmount = FoodList.Select(x => x.FoodPrice).Sum();
                    int num = Convert.ToInt32(totalAmount.ToString().Substring(0, 1));
                    decimal change = Convert.ToDecimal((num + 1).ToString() + "".PadLeft(totalAmount.ToString().Length - 1, '0'));
                    int count = 0;
                }
                @foreach (var item in FoodList)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@item.FoodName</td>
                        <td>@item.Qty</td>
                        <td>@item.FoodPrice</td>
                    </tr>
                }
                </tbody>

                <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>@totalAmount</td>
                </tr>

                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td>@totalAmount</td>
                </tr>

                <tr>
                    <td>Change</td>
                    <td></td>
                    <td>@(change - totalAmount)</td>
                </tr>
                </tfoot>

            </table>
        </div>

    </div>


    <h3>Thank You!</h3>

</div>

@code{
    private List<FoodSaleDataModel> FoodList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        FoodList = await DbService.GetFoodsList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await DbService.GetFoodsList();
            if (result.Count == 0)
            {
                NavigationManager.NavigateTo("/");
            }
            await DbService.CheckOut();
        }
    }

}