@page "/foods"
@inject NotificationStateContainer StateContainer

<section>
    <div class="container">
        <div class="row">
            <div class="text-center col-lg-12">
                <h2>Popular Foods</h2>
            </div>
            <div class="col-lg-12">
                <div class="food__category d-flex align-items-center justify-content-center gap-4">
                    <button type="button" class="all__btn  @(_categoryId == 0 ? "foodBtnActive" : "") " @onclick="() => FindFoodByCategory()">All</button>
                    @foreach (var item in FoodCategoryList)
                    {
                        string imagePath = $"assets/img/food-category/{item.CategoryId}.png";
                        <button type="button" class="d-flex align-items-center gap-2 @(_categoryId == item.CategoryId ? "foodBtnActive" : "") " @onclick="() => FindFoodByCategory(item.CategoryId)">
                            <img src="@(imagePath)"
                                 alt="">@item.CategoryName
                        </button>
                    }
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="search__widget d-flex align-items-center justify-content-between ">
                    <input type="text" placeholder="I'm looking for...." @onchange="Search">
                    <span>
                        <i class="ri-search-line"></i>
                    </span>
                </div>
            </div>
            @if (_foodPagination != null)
            {
                foreach (var item in _foodPagination.FoodList)
                {
                    string name = item.FoodName;
                    string img = $"assets/img/food/{item.FoodId}.jpg";
                    decimal price = item.FoodPrice;
                    string display = (string.IsNullOrEmpty(name.Trim()) ||
                                      name.ToLower().Contains(_keyword?.ToLower() ?? string.Empty)) ? "" : "display : none;";
                    <div class="mt-5 col-6 col-sm-6 col-md-4 col-lg-3" style="@display">
                        <div class="product__item">
                            <div class="product__img">
                                <img src="@img"
                                     alt="product-img" class="w-50">
                            </div>
                            <div class="product__content">
                                <h5 style="height:47px;">
                                    <a href="javascript:void(0);">
                                        @name
                                    </a>
                                </h5>
                                <div class=" d-flex align-items-center justify-content-between ">
                                    <span class="product__price">
                                        $@price
                                    </span>
                                    <button type="button" class="addTOCart__btn" @onclick="() => AddToCard(item)">
                                        Add
                                        to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (_categoryId == 0)
                {
                    <div class="text-center">
                        <MudPagination SelectedChanged="PageChanged" ShowFirstButton="true" ShowLastButton="true" Count="_foodPagination.TotalPageNo" Class="mt-4"/>
                    </div>
                }
            }
        </div>
    </div>
</section>