@implements IDisposable
@inject VoucherStateContainer VoucherStateContainer
@inject NotificationStateContainer StateContainer

@if (VoucherStateContainer.Property == EnumCartType.Enable && 
     VoucherStateContainer.FoodList.Count > 0)
{
    {
        FoodList = VoucherStateContainer.FoodList;
    }
    <div class="cart__container">
        <ul class="cart list-group">
            <div class="cart__close">
                <span>
                    <i class="ri-close-fill" @onclick="Close"></i>
                </span>
            </div>
            <div class="cart__item-list">
                @foreach (var item in FoodList)
                {
                    <li class="border-0 cart__item list-group-item">
                        <div class="cart__item-info d-flex gap-2">
                            <img src="@item.FoodPhoto" alt="product-img">
                            <div class="cart__product-info w-100 d-flex align-items-center gap-4 justify-content-between">
                                <div>
                                    <h6 class="cart__product-title">@item.FoodName</h6>
                                    <p class=" d-flex align-items-center gap-5 cart__product-price">
                                        <span>
                                            @item.Price * @item.Qty = @(item.FoodPrice)
                                        </span>
                                    </p>
                                    <div class=" d-flex align-items-center justify-content-between increase__decrease-btn">
                                        <span class="decrease__btn">
                                            <i class="ri-subtract-line" @onclick="() => RemoveItem(item)"></i>
                                        </span>
                                        <span class=" quantity">
                                            @item.Qty
                                        </span>
                                        <span class="increase__btn">
                                            <i class="ri-add-line" @onclick="() => AddItem(item)"></i>
                                        </span>
                                    </div>
                                </div>
                                <button class="delete__btn" type="button" @onclick="() => Remove(item)">
                                    <i class="ri-delete-bin-line"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                }
            </div>
            <div class="cart__bottom d-flex align-items-center justify-content-between">
                <h6>TotalAmount : <span>$@(FoodList.Select((x => x.FoodPrice)).Sum())</span></h6>
                <button @onclick="Checkout">
                        Checkout
                </button>
            </div>
        </ul>
    </div>
}